body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
}
div.cuerpo{    
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}